#card {
    text-align: center;
}
.card-header {
    color: white;
}

button {
    background-color: darkred ;
    border-color: black;
}

/* .create-character input {
        float: right;
} */

.create-character label {
    float: left;
}