.jumbotron {
    width: 35em;
    height: 38em;
    background-color: rgba(59, 59, 59, 0.5);
    
    border-radius: 12px;
    
    margin: auto;
    margin-top: 260px;
    padding-bottom: 25em;
    position: relative;
    bottom: 50px;
}

p {
    font-size: 1em;
    color: white;
    /* font-weight: 700; */
    font-family: 'Piedra', cursive;
    line-height: 1.5rem;
}

#lastline {
    color: white;
    /* font-weight: 700; */
    font-size: 1.5em;
}

.info em{
    color: darkred;
    text-shadow: 2px 2px 5px gold;
}

#lastline em{
    color: darkred;
    text-shadow: 2px 2px 5px gold;
}



