.jumbotron {
    width: 35em;
    height: 25em;
    background-color: rgba(128, 128, 128, 0.122);
    border-radius: 12px;
    margin-top: 260px;
    margin-left: 70px;
    font-weight: 2;
}

p {
    font-size: 0.9em;
    color: black;
    font-weight: 700;
}