.list-overflow-container {
    border: 1px gray;
}

.list-group-item {
    background-color: gray; 
}

.attr-name {
    color: darkred;
}

.attr-value {
    color: black;
}

.card-title{
    font-family: 'Rock Salt', cursive;
    color: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> 4e5421051156373db0d38de3dd4f5ec1e8d73491
