.list-overflow-container {
    border: 1px gray;
}

.list-group-item {
    background-color: gray; 
}

.attr-name {
    color: darkred;
    font-family: 'Rock Salt', cursive;
    font-size: 11px;
    font-weight: bolder;
}

.attr-value {
    color: black;
    font-family: 'Rock Salt', cursive;
    font-size: 11px;
    font-weight: bolder;
}

#number{
    width: 20px;
    height: 22px;
    font-size: 10px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    /* background-color: gray; */
    color: darkred;
    font-weight: bolder;
}

.number {
    width: 20px;
    height: 22px;
    font-size: 10px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    /* background-color: gray; */
    color: darkred;
    font-weight: bolder;
}

.card-title{
    font-family: 'Rock Salt', cursive;
}