h5 {
    color: darkred;
    font-family: 'Piedra', cursive;
}

#card-title {
    font-family: 'Piedra', cursive;

}

.camp-red-text {
    font-family: 'Permanent Marker', cursive;
    color: red;
    font-size: small;
    position: relative;
}

