#decbutt {
  position: relative;
  bottom: 1px;
  height: 24px;
  left: 10px;

}

#incbutt {
  position: relative;
  bottom: 1px;
  height: 24px;
  right: 47px;
}

#symbol{
  position: relative;
  bottom:8px ;
}