#decbutt {
  position: relative;
  bottom: 1px;
  height: 24px;
  left: 10px;
  color: #fff;
  background-color: darkred;
  border-color: darkred;

}

#incbutt {
  position: relative;
  bottom: 1px;
  height: 24px;
  right: 47px;
  background-color: gold;
  border-color: gold;
  color: black
}

#symbol{
  position: relative;
  bottom:8px ;
}