#card {
    text-align: center;
}
.card-header {
    color: white;
}

button {
    background-color: darkred ;
    border-color: black;
}

.create-character input {
        float: right;
}

.char-red-text {
    font-family: 'Permanent Marker', cursive;
    color: red;
    font-size: small;
    position: relative;
    bottom: 10px;
    text-align: right;
}


